@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

@media only screen and (min-width: 481px) {

.bigdiv a {
    display: none;
    }

.mpopdropdown {
    display: none;
}

.popBtns{
    background-color: white;
    margin:10px;
    margin-left: 40px;
    width: 600px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 3px;
}

.popBtns button{
    color: grey;
    font-size: 16px;
    padding: 8px;
    margin: 5px;
    border: none;
    outline: none;
}
.popBtns button:hover{
    color: black;
    font-size: 16px;
    padding: 8px;
    margin: 5px;
    background-color: rgb(249, 249, 249);
    border-radius: 30px;
    outline: none;
}
.popBtns button:focus{
    color: #0178d3;
    font-weight: 750;
    font-size: 16px;
    padding: 8px;
    margin: 5px;
    background-color: rgb(249, 249, 249);
    border-radius: 30px;
    outline: none;
}
}


@media only screen and (max-width: 480px) {

.mpopdropdown {
    border: none;
    color: grey;
    font-size: 14px;
}

.popBtns {
    display: none;
}

.smallheading {
    border-bottom: 1px rgb(199, 197, 197) solid;
}

.bigheading {
    font-weight: 400;
}
.micons {
    color:rgb(199, 197, 197);
    padding-right: 5px;
}

.mpopbar {

    display: none;
    position: fixed;
    top: 90px;
    left: 0px;
    background-color: white;
    width: 100%;
}

.mpopbar li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center;
  }

.bigdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.bigdivwrap {

    min-width: 380px;
}
  
.bigdiv a {
    text-decoration: none;
    color:#0178d3;
    font-size: 14px;
}

}

