

.postMain{
    width: 100%;
}

.main{
    border: 1px solid red;
    ;
}
.posts{
    display: flex;
    flex-direction: row;
    margin:10px;
    margin-left: 40px;
    width: 600px;
    border-radius: 3px;
}

.subredditBar{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: gray;
    font-weight: 500;


}

.title{
    
    font-size: 35px;

}

.commentBar{
    height: 30px;
}

.commentBar button{
    color: grey;
    border: none;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
}