.upvotes{
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    font-weight: 700;
}

.postMain{
    border: 1px solid blue;
    background-color: white;
    width: 100%;
}

.posts{
    border: 1px solid greenyellow;
    display: flex;
    background-color: white;
    margin:10px;
    margin-left: 40px;
    width: 600px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 3px;
}

.subredditBar{
    border: 1px solid red;
    height: 30px;

}
.title{
    border: 1px solid pink;
    font-size: 35px;

}
.content{
    border: 1px solid green;

}
.commentBar{
    border: 1px solid purple;
    height: 30px;

}