

.postMain{
    width: 100%;
}


.posts{
    display: flex;
    flex-direction: row;
    margin:10px;
    margin-left: 40px;
    width: 600px;
    border-radius: 3px;
}

.subredditBar{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: gray;
    font-weight: 500;


}

.title{
    
    font-size: 35px;

}

@media only screen and (max-width: 480px) {
.postbox {
        width: 100%;
}

.posts {
    width: 100%;
    border-bottom: grey 1px solid;
}




}