* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #dae0e6;
  display: flex;
}

.trendingbox {
  background-color: #dae0e6;
  border: 1px solid;
  height: 225px;
  width: 100%;

}

.leftWrap{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.popularbox {
  height: 60px;
  padding-right: 10px;

}

.postbox {
  padding-right: 10px;
}

.sidebar {
  border: 1px solid;
  width: 40%;
}


@media only screen and (max-width: 480px) {

* {
  background-color: white
}

.trendingbox {
  display: none;
}

.sidebar {
  display: none;
}

.leftWrap {
  width: 100%;
}

.postbox {
padding-left: 10px;
}


}